name: cd-docker-push

on:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: cd-docker
  cancel-in-progress: true

jobs:
  push-image:
    runs-on: ubuntu-latest

    environment:
      name: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            alitaheri1985/xo-game:latest
            alitaheri1985/xo-game:${{ github.sha }}
